<!-- COLORES DE ANGULAR MATERIAL

- primary: primaria
- accent: secundaria
- warn: errores

-->

<mat-drawer-container class="example-container" autosize>
  <!-- SIDEBAR -->
  <mat-drawer
    [opened]="!isMobile()"
    #drawer
    class="example-sidenav"
    [mode]="isMobile() ? 'over' : 'side'"
  >
    <mat-nav-list>
      <a mat-button class="menu-link" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </a>
      <a routerLink="users" mat-button class="menu-link">
        <mat-icon>people</mat-icon>
        <span>Usuarios</span>
      </a>
      <a routerLink="ranking" mat-button class="menu-link">
        <mat-icon>leaderboard</mat-icon>
        <span>Ranking</span>
      </a>
      

      <a (click)="logout()" mat-button class="menu-link">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <!-- SIDEBAR -->

  <!-- CONTENIDO A LA DERECHA DEL SIDEBAR -->
  <div class="example-sidenav-content">
    <!-- TOOLBAR SUPERIOR -->
    <mat-toolbar color="primary">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div>
          <button
            (click)="drawer.toggle()"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span>Academia GiriboneMaxiAcademy</span>
        </div>
        <!-- ANGULAR 16-->
        <div *ngIf="authUserSinPipe">{{ authUserSinPipe?.firstName }}</div>
        <!-- ANGULAR 17-->
        <!-- @if (authUser$ | async; as user) {
        <div>{{ user?.firstName }}</div>
        } -->
      </div>
    </mat-toolbar>

    <main style="padding: 1rem">
      <!-- <div>
        <button (click)="login()" color="primary" mat-flat-button>
          Iniciar sesion
        </button>
        <button (click)="logout()" color="warn" mat-flat-button>
          Cerrar sesion
        </button>
      </div>

      <button (click)="mostrarComponent = !mostrarComponent">
        alternar componente
      </button> -->

      <!-- <app-clase-10-rxjs-2 *ngIf="mostrarComponent" /> -->
      <!-- <h2>componente clase 09</h2>
      <app-clase-09-rxjs />
      <hr />
      <h2>componente productos</h2>-->
      <!-- <app-products /> -->
      <!-- <app-users /> -->
      <!-- <app-pipes-y-directivas /> -->

      <!-- /dashboard -->
      <router-outlet />
    </main>

    <!-- TOOLBAR SUPERIOR -->
  </div>
  <!-- CONTENIDO A LA DERECHA DEL SIDEBAR -->
</mat-drawer-container>
